<div class="row">
    <div class="col-3">
        <app-filtri-prodotti [listaFiltri]="filtri" (valoreFiltri)="valoreFiltri = $event"></app-filtri-prodotti>
    </div>
    <div class="col">
        <div class="row">
            <!-- ng container in questo case serve per fare una condizione di un'elemento al suo interno -->
            <ng-container *ngIf="listaProdotti && listaProdotti.length > 0 && listaProdotti | filterPage:valoreFiltri; else elseBlock">
                <div class="col-4 form-group" *ngFor="let prodotto of listaProdotti | myfilter:valoreFiltri | limitTo:page:limitPage">    
                    <app-custom-cards [prodotto]="prodotto" [jsonButton]=jsonButton></app-custom-cards>
                </div>
                <ngb-pagination
                    [(page)]="page"
                    [pageSize]="limitPage"
                    [collectionSize]="listaProdotti | filterPage:valoreFiltri"
                >
                </ngb-pagination>
            </ng-container>
            <ng-template #elseBlock>
                <label>Nessun prodotto trovato</label>
            </ng-template>
        </div>
    </div>
</div>