<form #simpleForm='ngForm' (ngSubmit)="loginClick(simpleForm.value)">
    <div class="container-fluid">
        <div class="row align-items-center custom-row">
            <div class="row">
                <div class="col-1 mr4">
                    <div class="form-group">
                        <div class="img-logo" ></div>
                        <!-- <img src="../../app/header/img/logo-fruit.png" width="150" height="150" > -->
                    </div>
                </div>
                <div class="col">
                    <div class="title-login">
                        <h2>La boutique della frutta 2015 s.r.l.s</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 form-login">
                    <div class="row">
                        <div class="mb-4">
                            <input type="text" class="form-control" id="username"  name="username" ngModel placeholder="Username" name="username"/>
                        </div>
                        <div class="mb-4">
                            <input type="password" class="form-control" id="password" name="password" ngModel placeholder="Password" name="password"/>
                        </div>
                        <button class="btn btn-primary">Login</button>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <hr class="mt-5">
            <div class="row">
               <label>Contatti:</label> 
               <ul>
                   <li>Telefono: 3463194670</li>
                   <li>Email: lino.cervini@alice.com</li>
               </ul>
            </div>
        </div>
    </div>
</form>