<div class="container-page">
    <form [formGroup]="insertForm" (ngSubmit)="inserisciProdotto(insertForm.value)" class="container-form">
        <div class="row">
            <div class="form-group col">
                <label for="nameProdotto">Nome</label>
                <input type="text" class="form-control" name="nome" id="nameProdotto" placeholder="Nome prodotto..." formControlName="nome">
            </div>
            <div class="form-group col">
                <label for="descrProdotto">Descrizione</label>
                <input type="text" class="form-control" name="descrizione" id="descrProdotto" placeholder="Descrizione prodotto..." formControlName="descrizione">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Registra prodotto</button>
            </div>
        </div>
    </form>

    <div class="row" *ngIf="listaProdotti && listaProdotti.length > 0; else messageBlock">
        <div class="col p5">
            <div class="width30">
                <app-filtri-prodotti [listaFiltri]="filtri" (valoreFiltri)="valoreFiltri = $event"></app-filtri-prodotti>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrizione</th>
                        <th scope="col">Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prodotto of listaProdotti | myfilter:valoreFiltri | limitTo:page:pageSize; index as i">
                        <th scope="row">{{ prodotto.numero }}</th>
                        <td>{{ prodotto.nome }}</td>
                        <td>{{ prodotto.descrizione }}</td>
                        <td >
                            <fa-icon [icon]="penIcon" class="cursor-pointer mr2" title="Modifica prodotto" (click)="modificaProdotto(prodotto,editProdottoModal)"></fa-icon>
                            <fa-icon [icon]="trashIcon" class="cursor-pointer" title="Elimina prodotto" (click)="eliminaProdotto(prodotto,deleteProdottoModal)"></fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
                <ngb-pagination
                    [collectionSize]="listaProdotti | filterPage:valoreFiltri"
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [maxSize]="5" 
                    [rotate]="true" 
                    [ellipses]="false" 
                    [boundaryLinks]="true"
                >
                </ngb-pagination>
            </div>
        </div>
    </div>
    <ng-template #messageBlock>
        <div class="mt2 contain-message-no-result">
            <h3>Non sono presenti prodotti registrati</h3>
        </div>
    </ng-template>

    <ng-template #editProdottoModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Modifica prodotto</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="editForm" (ngSubmit)="salvaModifiche(editForm);d('Cross click')">
                <div class="row">
                    <div class="form-group col">
                        <label for="nameProdotto">Nome</label>
                        <input type="text" class="form-control" name="nome" id="nameProdotto" placeholder="Nome prodotto..." formControlName="nome">
                    </div>
                    <div class="form-group col">
                        <label for="descrProdotto">Descrizione</label>
                        <input type="text" class="form-control" name="descrizione" id="descrProdotto" placeholder="Descrizione prodotto..." formControlName="descrizione">
                    </div>
                </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary">Salva</button>
                </div>
            </form>
        </div>
    </ng-template>

    <ng-template #deleteProdottoModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Cancella prodotto</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body">
            <p>Sei sicuro di voler proseguire? </p>
            <div style="text-align: center;">
                <button type="button" class="btn btn-primary" (click)="cancellaProdotto(prodottoDaCancellare);d('Cross click')" aria-label="Close">Cancella</button>
            </div>
        </div>
    </ng-template>
</div>
