.img-card{
    content:url("../header/img/logo-fruit.png");
    /* height: 30%;
    width: 60%; */
}

.card{
    box-shadow: gray 8px 8px !important;
    width: 80%;
}

h5{
    border-bottom: blue solid 1px;
}

.ml025{
    margin-left: 0.25rem;
}

.col-9{
    padding-left: 0;
}