<div>
    <div *ngFor="let riga of listaFiltri">
        <div *ngFor="let filtro of riga">
            <div *ngIf="filtro.type == 'input'" class="mb2">
                <div class="md-form">
                    <label for={{filtro.nome}} class="">{{filtro.label}}</label>
                    <input 
                        type="text" 
                        name={{filtro.nome}} 
                        #{{filtro.nome}} 
                        id={{filtro.nome}}
                        class="form-control"
                        placeholder={{filtro.label}}...
                        [(ngModel)]="valoreFiltro"
                        (ngModelChange)="ngOnChanges($event)"
                    >
                </div>
            </div>
            <div *ngIf="filtro.type == 'checkbox'">
                <div *ngIf="filtro.lista && filtro.lista.length > 0">
                    <fieldset class="form-inline">
                        <legend>{{filtro.label}}</legend>
                        <div *ngFor="let elem of filtro.lista">
                            <div class="form-check">
                                <label class="form-check-label">
                                   <input type="checkbox" [ngModel]="false" #{{filtro.nome}}> {{elem.nome}}
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
