<div class="container-form-login">
    <div class="container-fluid">
        <div class="row align-items-center custom-row">
            <div class="row">
                <div class="col-1 mr4">
                    <div class="form-group">
                        <div class="img-logo" ></div>
                        <!-- <img src="../../app/header/img/logo-fruit.png" width="150" height="150" > -->
                    </div>
                </div>
                <div class="col">
                    <div class="title-login">
                        <h2>La boutique della frutta 2015 s.r.l.s</h2>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <form [formGroup]="credenzialiUtente" class="form-login" (ngSubmit)="loginClick(credenzialiUtente.value)">
                    <div class="d-flex justify-content-center">
                        <div style="width: 50%;">
                            <div class="p-2">
                                <input type="text" class="form-control" id="username"  name="username" formControlName="username" placeholder="Username" name="username"/>
                            </div>
                            <div class="p-2">
                                <input type="password" class="form-control" id="password" name="password" formControlName="username" placeholder="Password" name="password"/>
                            </div>
                            <button class="btn btn-primary">Login</button>
                            <p class="pt2">Non possiedi un profilo? <a [routerLink]="'/boutique/registrazione'">Registrati qui</a></p>
                        </div>
                    </div>
                </form>
            </div>
            <hr class="mt-5">
            <div class="row">
               <label>Contatti:</label> 
               <ul>
                   <li>Telefono: 3463194670</li>
                   <li>Email: lino.cervini@alice.com</li>
               </ul>
            </div>
        </div>
    </div>
</div>